---
git:
  url: https://github.com/getstackhead/stackhead.git
  work_dir: schemas
  cache_time: 3600 # cache 60 minutes
files:
  - "**/*.json"
display:
  tags:
    order: desc
    show_date: true
  index:
    show_branches: true
    show_tags: true
