---
git:
  url: https://github.com/getstackhead/stackhead.git
  work_dir: schemas
  update:
    mode: cache
    cache:
      time: 3600 # cache time in seconds, default is 60 minutes
    webhook:
      github:
        secret: foobar
files:
  - "**/*.json"
display:
  tags:
    order: desc
    show_date: true
  index:
    show_branches: true
    show_tags: true
