<html>
<head>
    <title>Index of {{ .Ref.FilePath }}/ on {{ .Ref.Type }} {{ .Ref.Name }}</title>
</head>
<body>
<h1>Index of {{ .Ref.FilePath }}/ on {{ .Ref.Type }} <i>{{ .Ref.Name }}</i></h1>
<h2>Git Remote: {{ .Ref.Client.CurrentRepo.Url }}</h2>
<hr>
<pre>
{{ if ne .Ref.FilePath "" }}<a href="/{{ $.Ref.GetPath }}/-/{{ .ParentPath }}">../</a>{{ end }}
{{ range $value := .Files }}<a href="/{{ $.Ref.GetPath }}/-/{{ JoinPaths $.Ref.FilePath . }}">{{ . }}<br></a>{{ end }}
</pre>
<hr>
</body></html>
