<header>
    <h1>Git File Webserver</h1>
</header>

<main>
    {{ range $repo := .Cfg.Git.Repositories }}
    <section>
            <h2>{{ $repo.Title }} <small>(Git Remote: {{ $repo.Url }})</small></h2>
            <h3>Last Update: {{ $repo.GetUpdatedTimeObject }}</h3>

        {{ if $.ShowBranches }}
            <h3>Branches</h3>
            {{ $branches := $.Client.GetBranches $repo }}
            {{ if not $branches }}
                This repository has no branches yet.
            {{ else }}
                {{ range $branches }}<a href="/{{ $repo.Slug }}/branch/{{ . }}">{{ . }}<br></a>{{ end }}
            {{ end }}
        {{ end }}

        {{ if $.ShowTags }}
            <h3>Tags</h3>
            {{ $tags := $.Client.GetAllTags $repo }}
            {{ if not $tags }}
                This repository has no tags yet.
            {{ else }}
                {{ range $tags }}
                <a href="/{{ $repo.Slug }}/tag/{{ .Tag }}">{{ .Tag }} {{ if $.Cfg.Display.Tags.ShowDate }}({{ .Date }}){{ end }}<br/></a>
                {{ end }}
            {{ end }}
        {{ end }}
    </section>
    {{ end }}

</main>

<footer>
    <hr />
    Powered by <a href="https://github.com/saitho/git-file-webserver" target="_blank">Git File Webserver</a>
</footer>
